/koposer25.app
.DS_Store
.qmake.stash
Makefile
code_editor.o
development_tab.o
explorer_files.o
file.o
interface.o
main.o
moc_button.cpp
moc_code_editor.cpp
moc_code_editor.o
moc_development_tab.cpp
moc_development_tab.o
moc_interface.cpp
moc_interface.o
moc_predefs.h
moc_web_view.cpp
moc_web_view.o
web_view.o